// --
// Styles for the footer component.
// --

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: white;

    p {
        margin: 7px 5%;
    }
}
